
.logo {
    @include font(Raleway, 700, 26px, 1.2, none, none);
}

.logo-fst-part {
    color: $logo-first-part-and-btn;
}

.logo-part--dark {
    color: $snd-part-logo;
}

.logo-part--light {
    color: $main-background-color;
}