
.teamcard {
    background-color: $main-background-color;
    width: 270px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
&__name {
    color: $second-text-color;
    @include font(null, 500, 16px, 1.18, none, 0.03em);
    margin-bottom: 10px;}
&__position {
    @include font(null, 400, 16px, 1.18, none, 0.03em);}
&-socialicons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 50%;
        fill: $social-icons-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
                &:hover,
                &:focus {
                    background-color: $logo-first-part-and-btn;
                    fill: $main-background-color;}}
    &__option {
        margin-right: 10px;
                &:last-child {
                    margin-right: 0px;}}
}
}